---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Content from '../components/Content.astro';
import Card from '../components/Card.vue';
import Separator from '../components/Separator.astro';
import Button from "../components/Button.astro";

import DisolesImg from '../assets/disoles-img.webp';
import DisolesProyects from '../assets/disoles-proyectos.webp';
import DisolesServices from '../assets/disoles-servicios.webp';
---

<Layout title="¡Bienvenido a Disoles!">
	<main class="mx-auto min-h-screen bg-white min-w-screen">
			<Header />
			<Content />
			<Separator />
			<div class="flex flex-wrap -m-4 mx-4 py-8">
				<Card 
				title='Nosotros'
				img={DisolesImg.src}
				text='DISOLES S.A.S. es una empresa dedicada a la consultoría estructural, vial, ejecución de obras civiles, interventoría e investigaciones, enfocada en ofrecer las mejores soluciones integrales de ingeniería, para satisfacer las necesidades de nuestros clientes.'
				 client:load/>

				 <Card 
				 title='Nuestros Servicios'
				 img={DisolesServices.src}
				 text='Nos caracterizamos por garantizar la calidad en todos nuestros servicios, basados en una amplia experiencia, con personal altamente calificado, mejoramiento continuo, normativas vigentes y aplicación de tecnologías de punta.'
				  client:load/>

				  <Card 
				  title='Proyectos'
				  img={DisolesProyects.src}
				  text='Conozca nuestra experiencia en proyectos realizados. Clientes que confiaron en nosotros y que hoy son parte nuestros casos de éxito en los cuales se evidencia el profesionalismo, dedicación, responsabilidad y entrega a la hora de hacer nuestro trabajo.'
				   client:load/>
			</div>
			<div class="py-8"></div>
			<div class="flex justify-between px-24 py-10 max-w-screen-xl mx-auto border border-t shadow-xl border-gray-200 text-white backImage my-4 rounded-2xl">
				<div class="max-w-md">
					<h3 class="pt-4 text-6xl font-bold tracking-tighter leading-tight">
						<span class="whitespace-nowrap">¿Tienes un proyecto?</span>
					  </h3>
					<p class="pt-8 text-lg font-normal leading-relaxed">
						Realizamos diseños estructurales óptimos y eficientes que cumplan con los
						requisitos establecidos por la normativa vigente, garantizando la calidad
						y seguridad de los proyectos.
					  </p>
					  <div class="flex pt-8 space-x-6">
						<Button name="Contactar ahora" />
					  </div>
				</div>
			</div>
	</main>
</Layout>

<style>
.backImage {
  background-image: url('../assets/disoles-contactanos.webp'); 
  background-size: cover; 
  background-position: center;
  backdrop-filter: blur(8px);
}

</style>
