---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Content from '../components/Content.astro';
---

<Layout title="¡Bienvenido a Disoles!">
	<main class="mx-auto min-h-screen bg-gray-200 min-w-screen">
			<Header />
			<Content />
	</main>
</Layout>
