---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="¡Bienvenido a Disoles!">
	<main>
		<div class="min-h-screen bg-gray-100 min-w-screen">
			<Header />
		</div>
	</main>
</Layout>
