---
const { name } = Astro.props;
---
<button class="flex justify-center items-center h-12 px-8 font-bold bg-yellow-500 text-white rounded-xl hover:text-blue-950 hover:shadow-2xl transition-shadow duration-300">
{name}
</button>