---
const { name } = Astro.props;
---
<button class="flex justify-center items-center h-12 px-8 font-medium bg-yellow-500 text-white rounded-xl hover:shadow-xl transition-shadow duration-300">
{name}
</button>