---
import DisolesIcon from '../assets/icons/disoles-icon.svg';
---

<div class="bg-blue-950 my-4 min-w-screen">
    <h2 class="text-lg flex justify-center"> <p class="my-4">DISOLES S.A.S</p> <img class="mx-2 my-4" src={DisolesIcon.src}></h2>
</div>