---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/disoles-icon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="font-semibold leading-normal text-gray-900 dark:text-white transition opacity-0 duration-1000" id="mainContent">
			<slot />
	</body>
</html>

<script src="../js/Preloader.js"></script>
